@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>My name is Olivia Hoon, and I am studying Accounting and MIS. I will graduate this May and begin working for a company called GBQ in Columbus.</p>
