@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    1 Ohio University<br />
    Athens, OH 45701<br />
    <abbr title="Phone">P:</abbr>
    123.456.7890
</address>

<address>
    <strong>Email:</strong>   <a href="mailto:oh405914@ohio.edu">oh405914@ohio.edu</a><br />
</address>