@{
    ViewBag.Title = "Home";
}

<div class="jumbotron">
    <h1>Olivia Hoon</h1>
    <p class="lead">MIS and Accounting student website.</p>
    <p><a href="https://ohio.edu" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Learning More</h2>
        <p>
            Click the About tab to learn more about Olivia. 
        </p>
    </div>
    <div class="col-md-4">
        <h2>Contact</h2>
        <p>Click the Contact tab to find contact Olivia.</p>
    </div>
</div>