@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>MIS4200</h1>
    <p class="lead">College of Business.</p>
    <p><a href="https://cob.ohio.edu" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            Ohio University
        </p>
        <p><a class="btn btn-default" href="https://ohio.edu">Learn more about Ohio University&raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>MVC</h2>
        <div>Stuff about MVC goes here</div>
        <h2>Links to samples models</h2>>
        @Html.ActionLink("Customers", "Index", "Customers")
        <br />>
        @Html.ActionLink("Orders", "Index", "Orders")
        <br />>
        @Html.ActionLink("Products", "Index", "Products")

    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>